{% extends "quizes/base.html" %}
{% block content %}
     <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Problems Count by Categories</h3>
        </div>
        <div class="panel-body">
       {% if problemsCntbyCategories %}
           <table class="table table-condensed">
            <thead>
            <tr>
                <th>Category</th>
                <th>Problems Cnt</th>
            </tr>
            </thead>
            <tbody>
            {% for problemsCntbyCategory in problemsCntbyCategories %}

                <tr>
                    <td>{{ problemsCntbyCategory.category  }}</td>
                    <td>{{ problemsCntbyCategory.num_problems }}</td>
                </tr>
            {% endfor %}
            </tbody> <!-- TODO: add pagination -->
        </table>
        {% else %}
           <div class="alert alert-info" role="alert">No categories currently listed.</div>

        {% endif %}
        </div>
    </div>
{% endblock %}


{% block actionmenu %}
  <a type="button" class="btn btn-default" href="{% url 'problemCategory_new' %}">New Category</a>
{% endblock %}
